#container {
  width: 600px;
  margin: 50px auto 0;
  background: rgb(243, 245, 246);
  padding: 32px;
  border-radius: 16px;
}

.weather {
  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 8px;
  }

  &__search-form {
    margin-bottom: 16px;
  }

  &__result {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__result-place {
    font-weight: 700;
    margin-bottom: 16px;
    flex-basis: 100%;
  }

  &-info {
    flex-basis: 30%;

    &-title {
      background: teal;
      color: white;
      font-size: 0.9em;
      padding: 4px 0;
    }

    &-data {
      height: 100px;
      line-height: 100px;
      border: 3px solid teal;
      background: white;
    }
  }


}

